.answersList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.answerItem {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: margin-left 0.7s ease-in-out;


}

.answerItem:hover {
/* background-color: rgb(213, 224, 146, 0.5); */
margin-left: 30px;
color: rgb(29, 15, 15);
  
}


.success {
    background: rgba(161, 240, 69, 0.7);
}

.error {
    background: rgba(211, 45, 45, 0.7);
}