
.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
}

.quiz h1 {
  color: white;
  margin-left: 10px;
  text-align: center;
}

.quizWrapper {
  width: 600px;
}

.layout {
height: 100vh;
display: flex;
flex-direction: column;
background: linear-gradient(80deg, #09327e 0%, #83a9d4 100%);

}

.layout main{
display: flex;
flex-direction: column;
flex-grow: 1;

}